@page
@model Web.Pages.Basket.SuccessModel
@{
    ViewData["Title"] = "Checkout Complete";
}           

<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>

<div class="esh-basket-titles container">
    <h1>支付成功</h1>
    <a class="btn esh-basket-checkout" asp-page="/Index">返回首页</a>
</div>
