.esh-orders {
    min-height: 80vh;
    overflow-x: hidden;
}

.esh-orders-titles {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.esh-orders-items {
    height: 2rem;
    line-height: 2rem;
    position: relative;
    font-weight: 300;
}
    /* nth-of-type(2n+1)隔行选择 */
    .esh-orders-items:nth-of-type(2n+1):before {
        background-color: #ffffff;
        content: "";
        height: 100%;
        margin-left: -100vw;
        position: absolute;
        top: 0;
        width: 200vw;
        z-index: -1;
    }

.esh-orders-link {
    color: #83d01b;
    text-decoration: none;
    transition: color 0.35s;
}

    .esh-orders-link:hover {
        color: #75b918;
        transition: color 0.35s;
    }
.esh-orders-detail-title {
    font-size: 25px;
    margin-top:1rem;
    margin-bottom:0.5rem;
}
.esh-orders-detail-article {
    font-weight: 600;
    margin-top: 0.5rem;
}
